.score-board-panel
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    background: black
    height: 500px
    overflow: auto
.score-card-layout
    width:47%
    display: inline-block
    margin:20px
@media (min-width: 375px) and (max-width: 1023px)
    .score-card-layout
        width: 95% !important
        display:inline
.no-data
    height: 150px
    color: white
    width: 100%
    text-align: center
    p
        margin: 50px
        font-size: 25px
.bounce-ball
    animation: bounce 1.8s infinite
    width: 20px
    height: 20px
    background: white
    border-radius: 20px
    margin: 30px

@keyframes bounce 
    0%
        background: white
        margin-left: 0%
    25%
        background: orange
        margin-top: 10px
        margin-left: 20%
    50%
        margin-top: 10px
        background: red
        margin-left: 40%

    75%
        margin-top: 10px
        background: blue
        margin-left: 60%

    100%
        margin-top: 10px
        background: white
        margin-left: 80%


.loading-layout
    height: 200px

