<div class="score-board-panel">
    <ng-container *ngFor="let gameData of gamesArenaScores">
        <app-score-card [gameData] = "gameData" class="score-card-layout">
        </app-score-card>
    </ng-container>
    <div *ngIf="gamesArenaScores && gamesArenaScores.length == 0" class="no-data"> 
        <p>Games are loading please wait or you can refresh the list</p>
        <div class="loading-layout">
            <div class="bounce-ball"></div>
            <div class="bounce-ball"></div>
            <div class="bounce-ball"></div>
        </div>
    </div>
</div>