.score-card
    &:hover
        animation: hilight 0.5s
        animation-fill-mode: forwards
@media (min-width: 375px) and (max-width: 1023px)
    .score-card
        .image-div
            width: 20% !important
            .image-frame
                width: 80px !important
                height: 100px !important
.score-card
    border-radius: 10px
    height: 200px
    border: 2px solid green
    display: flex
    flex-wrap: wrap
    color: white
    .image-div
        width: 25%
        margin: 10px
        .image-frame
            width: 100px
            height: 120px

    .title-div
        width: 70%

    .score-div
        width: 100%
        p
            margin: 15px
            span
                float: right
                color: orange
@keyframes hilight 
    from
        backgroud-color: black
    to
        transform: translate(0, -5%)
        box-shadow: 5px 5px gray



    